.not-found-container {
    display: flex;
    padding: 30px;
    margin: 0 auto;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.error-title {
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: bold;
}

.error-text {
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
}