.about-page {
    width: 1200px;
    margin: 0 auto;
    padding: 25px 25px 26px 35px;
    justify-content: center;
    align-items: center;
    background: url('../../assets/background.jpg');
}

.about-item-container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 15px;
}

.about-title {
    margin: 10px 30px;
    font-family: 'Comfotraa', 'Roboto';
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    color: #4A4177;
    text-align: left;
}

.short-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.price-title {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #51478a;
}

.basket-btn {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.basket-btn:hover {
    color: #ffffff;
    background-color: #585370;
}

.about_information-title {
    margin: 20px 0 0 0;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    background-color: #666183;
}

.about_information-container {
    display: flex;
    padding: 20px 30px;
}

.about_pictures {
    display: flex;
    padding: 20px 20px 20px 0;
    flex-direction: column;
    border-right: 2px solid #666183;
}

.about_pictures > img {
    max-width: 150px;
    max-height: 170px;
    margin: 20px 0;
}

.about_pictures > img:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
}

.about_information {
    width: 100%;
    padding: 15px 30px;
}

.characteristic-container {
    width: 100%;
    margin-bottom: 15px;
}

.characteristics-title {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 2px;
    color:#ffffff;
    background-color: #666183;
    text-align: left;
}

.characteristics {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    font-family: 'Comfortaa', 'Roboto';
    font-weight: 400;
    border-bottom: 2px solid #666183;
}

.subcharacteristic-title {
    width: 50%;
    text-align: left;
}

.subcharacteristic-value {
    width: 50%;
    text-align: right;
}

.shadow-image {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.comments-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Comfotraa', 'Roboto';
    font-weight: 700;
    font-style: italic;
    text-align: left;
}

.comments-title {
    padding: 20px;
    font-size: 30px;
    color: #4A4177;
    font-weight: bold;
    font-style: italic;
}

.user-comment_container {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.user-comment_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
}

.user-comment {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 10px;
    resize: none;
    outline: none;
}

.send-comment-btn {
    max-width: max-content;
    margin-top: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    border-radius: 5px;
}

.send-comment-btn:hover {
    color: #ffffff;
    background-color: #585370;
}

.no-comments {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.comment-item_container {
    width: 95%;
    padding:20px;
    margin: 5px auto;
    border: 2px solid #666183;
    border-radius: 10px;
    box-shadow: 5px 5px 6px -2px #666183;
}

.comment-header {
    display: flex;
    flex-direction: row;
    font-style: italic;
}

.comment-date {
    padding: 5px;
    margin-right: 10px;
    font-size: 20px;
    color: rgb(121, 117, 117);
}

.comment-nickname {
    padding: 5px;
    font-size: 18px;
    border-left: 2px solid #666183;
}

.comment-text {
    padding: 10px;
    font-size: 15px;
    font-style: normal;
}



.rating-area {
	overflow: hidden;
    width: max-content;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}