.header-navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 25px 25px 26px 32px;
    justify-content: left;
    align-items: center;
    background-color: #666183;
    box-shadow: inset -5px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

.header-link {
    margin: 0 10px;
    font-size: 25px;
    font-family: 'Comfortaa','Roboto';
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;
}